.WeekSheet {
  display: flex;
  flex-wrap: wrap;
  min-width: 1800px;
}

.WeekSheet-number {
  width: 100%;
}

.WeekSheet-number h2 {
  text-align: center;
}

.WeekSheet-week {
  display: flex;
  width: 100%;
}
