.Auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.Auth-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 280px;
  border-radius: 5px;
  background: linear-gradient(270deg, #dddddd 0%, #ef596d 100%);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.Auth h1 {
  text-align: center;
}

.Auth input {
  outline: none;
}

.Auth-control {
  margin: 20px 0;
}

.Auth-email,
.Auth-pass {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.Auth-correct {
  font-size: 15px;
  text-align: center;
}

.Auth-error {
  font-size: 15px;
  text-align: center;
  color: red;
}
