.Auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.Auth-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 280px;
  border-radius: 5px;
  background: linear-gradient(270deg, #dddddd 0%, #c5c5c5 100%);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.Auth h1 {
  text-align: center;
}

.Auth input {
  outline: none;
  width: 300px;
  height: 30px;
}

.Auth-control {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.Auth-email,
.Auth-pass {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Auth-correct {
  font-size: 15px;
  text-align: center;
}

.Auth-error {
  font-size: 15px;
  text-align: center;
  color: red;
}

.Auth-log,
.Auth-reg {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid rgb(85, 85, 85);
  color: #000;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  transition: background, color .4s ease-in-out;
}

.Auth-log {
  background: rgb(131, 231, 15);
}

.Auth-log:hover {
  color: #fff;
  cursor: pointer;
  background: rgb(89, 167, 0);
}

.Auth-reg {
  background: #2884f6;
}

.Auth-reg:hover {
  color: #fff;
  cursor: pointer;
  background: #094792;
}

.Auth-log:focus,
.Auth-reg:focus {
  outline: none;
}

.Auth-log:disabled,
.Auth-reg:disabled {
  background: #ccc;
  color: #000;
  cursor: not-allowed;
}